h2 {
    text-align: center;
}
#container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 32px;
}
    .product-item {
        display: inline-block;
    }
        .product-item > img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        .product-item > span {
            display: inline-block;
            margin: 4px 0 16px 0;
            font-weight: bold;
        }
        .product-item > span:nth-child(4) {
            float: right;
            font-weight: normal;
        }