<h3>Checkout</h3>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <label>First Name: </label>
    <input type="text" name="firstName" placeholder="Enter your first name"
    required minlength="4" pattern="[A-Za-z]*"
    [(ngModel)]="firstName" #fName="ngModel" (ngModelChange)="firstName"/>
    <!-- Validation for First Name input -->
    <div *ngIf="fName.invalid && (fName.dirty || fName.touched)">
        <div class="error" *ngIf="fName.errors?.['required']">
            First name is required
        </div>
        <div class="error" *ngIf="fName.errors?.['minlength']">
            First name must be at least 4 characters long.
        </div>
        <div class="error" *ngIf="fName.errors?.['pattern']">
            Only letters are allowed!
        </div>
    </div>

    <label>Last Name: </label>
    <input type="text" name="lastName" placeholder="Enter your last name"
    required minlength="4" pattern="[A-Za-z]*" (ngModelChange)="lastName"
    [(ngModel)]="lastName" #lName="ngModel"/>
    <!-- Validation for Last Name input -->
    <div *ngIf="lName.invalid && (lName.dirty || lName.touched)">
        <div class="error" *ngIf="lName.errors?.['required']">
            Last name is required
        </div>
        <div class="error" *ngIf="lName.errors?.['minlength']">
            Last name must be at least 4 characters long.
        </div>
        <div class="error" *ngIf="lName.errors?.['pattern']">
            Only letters are allowed!
        </div>
    </div>

    <label>Email Address: </label>
    <input type="email" name="email" placeholder="Enter your email"
    required pattern="^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$"
    [(ngModel)]="emailAddress" #email="ngModel" (ngModelChange)="emailAddress"/>
    <!-- Validation for email input -->
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="error" *ngIf="email.errors?.['required']">
            Email is required
        </div>
        <div class="error" *ngIf="email.errors?.['pattern']">
            Please enter a valid email
        </div>
    </div>

    <label>Shipping Address: </label>
    <input type="text" name="shippingAddress" placeholder="Enter your shipping address"
    required minlength="4"
    [(ngModel)]="shippingAddress" #address="ngModel" (ngModelChange)="shippingAddress"/>
    <!-- Validation for shipping address input -->
    <div *ngIf="address.invalid && (address.dirty || address.touched)">
        <div class="error" *ngIf="address.errors?.['required']">
            Shipping Address is required
        </div>
        <div class="error" *ngIf="address.errors?.['minlength']">
            The address needs to be at least 4 characters long
        </div>
    </div>

    <label>Card Number: </label>
    <input type="text" name="cardNumber" placeholder="Enter your card number"
    required minlength="16" maxlength="16" pattern="[0-9]*"
    [(ngModel)]="cardNumber" #card="ngModel" (ngModelChange)="cardNumber"/>
    <!-- Validation of card number input -->
    <div *ngIf="card.invalid && (card.dirty || card.touched)">
        <div class="error" *ngIf="card.errors?.['required']">
            Card number is required
        </div>
        <div class="error" *ngIf="card.errors?.['minlength']">
            Needs to be at least 16 digits
        </div>
        <div class="error" *ngIf="card.errors?.['pattern']">
            Only numbers are allowed
        </div>
    </div>
    <input type="submit" value="Ship Order" [disabled]="!form.valid"/>
</form>